.loader {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        font-weight: 600;
        color: white;
        font-size: 52px;
    }
    .circulo {
        font-size: 50px;
        color: white;
        animation: spin 3s;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
