.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: lightgray;
    color: black;

    h1 {
        a {
            color: black;
            text-decoration: none;
        }
    }

    nav {
        width: 40%;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;

            a {
                color: black;
                text-decoration: none;
            }
        }
    }
}
